<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ptable_ask.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <ptable_ask.My.MySettings>
            <setting name="focusmode" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ask_aWeight" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="numcount" serializeAs="String">
                <value>5</value>
            </setting>
        </ptable_ask.My.MySettings>
    </userSettings>
</configuration>